<!-- app.component.html
<div class="bg-danger">
    <h1>Welcome Home!</h1>
    <router-outlet></router-outlet>
</div>

<div class="search-category-container">
    <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()" class="category-select">
        <option value="">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
    </select>
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search videos by description..."
        class="search-input" />
</div>

<div *ngIf="filteredVideos.length > 0">
    <ul>
        <li *ngFor="let video of filteredVideos; let i = index" class="video-container">
            <div class="video-wrapper" (mouseenter)="onMouseEnter(i)" (mousedown)="onMouseDown(i)">
                <video #videoElement [src]="'http://localhost:7777/' + video.filePath" type="video/mp4" autoplay muted
                    playsinline (click)="onVideoClick(i)">
                    Your browser does not support the video tag.
                </video>
                <div class="video-info">
                    <h3>{{ video.title }}</h3>
                    <p class="video-description">{{ video.description }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="filteredVideos.length === 0">
    <p>No videos available.</p>
</div>
 -->



<div class="row py-5 align-items-center justify-content-center gap-y-2 h-full">
    <div class="col-md-6 ">
        <img src="../../../assets/video.png" style="max-height: 80vh; margin: auto;" alt="">
    </div>

    <div class="col-md-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eveniet error voluptatibus tempore! Aliquid
        accusamus quaerat voluptate quos, odio obcaecati cum, suscipit quae libero repudiandae tempore error quas,
        laboriosam eveniet vel? Vero doloremque accusamus exercitationem, laboriosam accusantium explicabo est nostrum.
        Molestias veritatis molestiae doloremque, eveniet nobis nostrum alias enim laborum velit ea dolore omnis, odio
        reiciendis voluptatibus libero expedita impedit? Similique blanditiis dolorum voluptates cum incidunt quidem
        vero sapiente saepe architecto, ut exercitationem autem totam qui ex praesentium sint sit voluptatem quisquam,
        fuga, aliquam eos quibusdam culpa. Odit quasi vitae, molestiae unde aspernatur voluptatem dicta ab provident
        ratione neque nisi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vero fugiat perferendis, saepe iure quam sapiente
        soluta labore impedit tempora?


        <br><br><br><br>
        <button class="bg-danger text-white col-3 rounded-3xl py-2" routerLink="../videos" routerLinkActive="router-link-active" >Discover us</button>

    </div>

</div>